/* Stile generale */

h2 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

.control input {
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    margin: 20px 0;
    border-radius: 5px;
}

.control input[type="submit"] {
    background-color: aqua;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .9;
    transition: opacity .3s ease;
}

.form_container p{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 45px;
}

.form_container p a {
    color: white;
    text-decoration: none;
}

.form_container form p,
.error {
    color: red;
}


/* Classi e id */

#logo {
    text-transform: uppercase;
    background-color:  rgba(0, 0, 139, 0.85);
    padding: 10px;
    display: inline;
    border-radius: 10px;
}

.form_container {
    margin-top: 100px;
    background-color: rgba(0, 0, 139, 0.85);
    width: 400px;
    border-radius: 10px;
    padding: 50px 30px;
    box-shadow: 7px 7px 60px black;
}


/* Layout */

body {
    background-image: url('/images/Sfondo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: rgba(0, 0, 139, 0.85);
}


/* Cursore */

.control input[type="submit"]:hover {
    opacity: 1;
    cursor: pointer;
}

main p a:hover {
    text-decoration: underline;
}