body {
    margin: 0;
    padding: 0;
    background-color: blue;
    font-family: 'Anybody', Helvetica;
    font-style: normal;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 500px){
    body {
        font-size: 12px;
    }
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkblue;
}

h2 {
    margin-top: 100px;
}

input[type=text] {
    height: 30px;
}

input[type=submit] {
    height: 30px;
}

footer {
    background-color: darkblue;
    margin-top: auto;
}


/* Classi e id */

#store {
    color: aqua;
}

#logo {
    text-transform: uppercase;
}

#intro {
    margin-bottom: 100px;
}

.image {
    height: 300px;
    width: 300px;
}

.button_cart{
    padding: 10px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
}

.product {
    margin-top: 100px;
    margin-bottom: 100px;
}

.hidden {
    display: none;
}

/* Cursore */

.button_cart:hover{
    background-color: rgb(255, 255, 255, 0.9);
}